<!-- JS Files -->
	<script src="{{ '/assets/js/jquery-3.4.1.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/isotope.pkgd.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/jquery.magnific-popup.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/typed.min.js' | relative_url }}"></script>
	<script src="{{ '/assets/js/main.js' | relative_url }}"></script>